In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('iris.csv')

In [8]:
df.head()

   5.1  0.222222222  3.5     0.625  1.4  0.06779661  0.2  0.041666667  setosa
0  4.9     0.166667  3.0  0.416667  1.4    0.067797  0.2     0.041667  setosa
1  4.7     0.111111  3.2  0.500000  1.3    0.050847  0.2     0.041667  setosa
2  4.6     0.083333  3.1  0.458333  1.5    0.084746  0.2     0.041667  setosa
3  5.0     0.194444  3.6  0.666667  1.4    0.067797  0.2     0.041667  setosa
4  5.4     0.305556  3.9  0.791667  1.7    0.118644  0.4     0.125000  setosa

In [9]:
df.tail()

,5.1,0.222222222,3.5,0.625,1.4,0.06779661,0.2,0.041666667,setosa
94,7.2,0.805556,3.0,0.416667,5.8,0.813559,1.6,0.625000,virginica
95,7.4,0.861111,2.8,0.333333,6.1,0.864407,1.9,0.750000,virginica
96,7.9,0.999900,3.8,0.750000,6.4,0.915254,2.0,0.791667,virginica
97,6.4,0.583333,2.8,0.333333,5.6,0.779661,2.2,0.875000,virginica
98,6.3,0.555556,2.8,0.333333,5.1,0.694915,1.5,0.583333,virginica

In [14]:
df = pd.read_csv('iris.csv', names=['a','b','c','d','e','f','g','h','tipo'])

In [15]:
df.head()

     a         b    c         d    e         f    g         h    tipo
0  5.1  0.222222  3.5  0.625000  1.4  0.067797  0.2  0.041667  setosa
1  4.9  0.166667  3.0  0.416667  1.4  0.067797  0.2  0.041667  setosa
2  4.7  0.111111  3.2  0.500000  1.3  0.050847  0.2  0.041667  setosa
3  4.6  0.083333  3.1  0.458333  1.5  0.084746  0.2  0.041667  setosa
4  5.0  0.194444  3.6  0.666667  1.4  0.067797  0.2  0.041667  setosa

In [16]:
import sys

In [20]:
df.to_csv(sys.stdout, sep='|')

|a|b|c|d|e|f|g|h|tipo
0|5.1|0.222222222|3.5|0.625|1.4|0.06779661|0.2|0.041666667000000004|setosa
1|4.9|0.166666667|3.0|0.41666666700000005|1.4|0.06779661|0.2|0.041666667000000004|setosa
2|4.7|0.111111111|3.2|0.5|1.3|0.050847458|0.2|0.041666667000000004|setosa
3|4.6|0.083333333|3.1|0.45833333299999995|1.5|0.084745763|0.2|0.041666667000000004|setosa
4|5.0|0.194444444|3.6|0.666666667|1.4|0.06779661|0.2|0.041666667000000004|setosa
5|5.4|0.305555556|3.9|0.791666667|1.7|0.118644068|0.4|0.125|setosa
6|4.6|0.083333333|3.4|0.583333333|1.4|0.06779661|0.3|0.083333333|setosa
7|5.0|0.194444444|3.4|0.583333333|1.5|0.084745763|0.2|0.041666667000000004|setosa
8|4.4|0.027777778|2.9|0.375|1.4|0.06779661|0.2|0.041666667000000004|setosa
9|4.9|0.166666667|3.1|0.45833333299999995|1.5|0.084745763|0.1|0.01|setosa
10|5.4|0.305555556|3.7|0.708333333|1.5|0.084745763|0.2|0.041666667000000004|setosa
11|4.8|0.13888888900000002|3.4|0.583333333|1.6|0.101694915|0.2|0.041666667000000004|setosa
12|4.8|0.13888888900000002|3.0|0.41666666700000005|1.4|0.06779661|0.1|0.01|setosa
13|4.3|0.01|3.0|0.41666666700000005|1.1|0.016949153|0.1|0.01|setosa
14|5.8|0.41666666700000005|4.0|0.833333333|1.2|0.033898305|0.2|0.041666667000000004|setosa
15|5.7|0.38888888899999996|4.4|0.9999|1.5|0.084745763|0.4|0.125|setosa
16|5.4|0.305555556|3.9|0.791666667|1.3|0.050847458|0.4|0.125|setosa
17|5.1|0.222222222|3.5|0.625|1.4|0.06779661|0.3|0.083333333|setosa
18|5.7|0.38888888899999996|3.8|0.75|1.7|0.118644068|0.3|0.083333333|setosa
19|5.1|0.222222222|3.8|0.75|1.5|0.084745763|0.3|0.083333333|setosa
20|5.4|0.305555556|3.4|0.583333333|1.7|0.118644068|0.2|0.041666667000000004|setosa
21|5.1|0.222222222|3.7|0.708333333|1.5|0.084745763|0.4|0.125|setosa
22|4.6|0.083333333|3.6|0.666666667|1.0|0.01|0.2|0.041666667000000004|setosa
23|5.1|0.222222222|3.3|0.541666667|1.7|0.118644068|0.5|0.166666667|setosa
24|4.8|0.13888888900000002|3.4|0.583333333|1.9|0.152542373|0.2|0.041666667000000004|setosa
25|5.0|0.194444444|3.0|0.41666666700000005|1.6|0.101694915|0.2|0.041666667000000004|setosa
26|5.0|0.194444444|3.4|0.583333333|1.6|0.101694915|0.4|0.125|setosa
27|5.2|0.25|3.5|0.625|1.5|0.084745763|0.2|0.041666667000000004|setosa
28|5.2|0.25|3.4|0.583333333|1.4|0.06779661|0.2|0.041666667000000004|setosa
29|4.7|0.111111111|3.2|0.5|1.6|0.101694915|0.2|0.041666667000000004|setosa
30|4.8|0.13888888900000002|3.1|0.45833333299999995|1.6|0.101694915|0.2|0.041666667000000004|setosa
31|5.4|0.305555556|3.4|0.583333333|1.5|0.084745763|0.4|0.125|setosa
32|7.0|0.75|3.2|0.5|4.7|0.627118644|1.4|0.541666667|versicolor
33|6.4|0.583333333|3.2|0.5|4.5|0.5932203389999999|1.5|0.583333333|versicolor
34|6.9|0.7222222220000001|3.1|0.45833333299999995|4.9|0.661016949|1.5|0.583333333|versicolor
35|5.5|0.333333333|2.3|0.125|4.0|0.508474576|1.3|0.5|versicolor
36|6.5|0.611111111|2.8|0.333333333|4.6|0.610169492|1.5|0.583333333|versicolor
37|5.7|0.38888888899999996|2.8|0.333333333|4.5|0.5932203389999999|1.3|0.5|versicolor
38|6.3|0.5555555560000001|3.3|0.541666667|4.7|0.627118644|1.6|0.625|versicolor
39|4.9|0.166666667|2.4|0.166666667|3.3|0.38983050799999996|1.0|0.375|versicolor
40|6.6|0.638888889|2.9|0.375|4.6|0.610169492|1.3|0.5|versicolor
41|5.2|0.25|2.7|0.291666667|3.9|0.491525424|1.4|0.541666667|versicolor
42|5.0|0.194444444|2.0|0.01|3.5|0.423728814|1.0|0.375|versicolor
43|5.9|0.444444444|3.0|0.41666666700000005|4.2|0.542372881|1.5|0.583333333|versicolor
44|6.0|0.472222222|2.2|0.083333333|4.0|0.508474576|1.0|0.375|versicolor
45|6.1|0.5|2.9|0.375|4.7|0.627118644|1.4|0.541666667|versicolor
46|5.6|0.36111111100000004|2.9|0.375|3.6|0.44067796600000003|1.3|0.5|versicolor
47|6.7|0.666666667|3.1|0.45833333299999995|4.4|0.576271186|1.4|0.541666667|versicolor
48|5.6|0.36111111100000004|3.0|0.41666666700000005|4.5|0.5932203389999999|1.5|0.583333333|versicolor
49|5.8|0.41666666700000005|2.7|0.291666667|4.1|0.525423729|1.0|0.375|versicolor
50|6.2|0.5277777779999999|2.2|0.083333333|4.5|0.5932203389999999|1.5|0.583333333|versicolor
51|5.6|0.36111111100000004|2.5|0.208333333|3.9|0.491525424|1.1|0.41666666700000005|versicolor
52|5.9|0.444444444|3.2|0.5|4.8|0.644067797|1.8|0.708333333|versicolor
53|6.1|0.5|2.8|0.333333333|4.0|0.508474576|1.3|0.5|versicolor
54|6.3|0.5555555560000001|2.5|0.208333333|4.9|0.661016949|1.5|0.583333333|versicolor
55|6.1|0.5|2.8|0.333333333|4.7|0.627118644|1.2|0.45833333299999995|versicolor
56|6.4|0.583333333|2.9|0.375|4.3|0.559322034|1.3|0.5|versicolor
57|6.6|0.638888889|3.0|0.41666666700000005|4.4|0.576271186|1.4|0.541666667|versicolor
58|6.8|0.694444444|2.8|0.333333333|4.8|0.644067797|1.4|0.541666667|versicolor
59|6.7|0.666666667|3.0|0.41666666700000005|5.0|0.6779661020000001|1.7|0.666666667|versicolor
60|6.0|0.472222222|2.9|0.375|4.5|0.5932203389999999|1.5|0.583333333|versicolor
61|5.7|0.38888888899999996|2.6|0.25|3.5|0.423728814|1.0|0.375|versicolor
62|5.5|0.333333333|2.4|0.166666667|3.8|0.474576271|1.1|0.41666666700000005|versicolor
63|5.5|0.333333333|2.4|0.166666667|3.7|0.45762711899999997|1.0|0.375|versicolor
64|5.8|0.41666666700000005|2.7|0.291666667|3.9|0.491525424|1.2|0.45833333299999995|versicolor
65|6.0|0.472222222|2.7|0.291666667|5.1|0.6949152540000001|1.6|0.625|versicolor
66|6.3|0.5555555560000001|3.3|0.541666667|6.0|0.847457627|2.5|0.9999|virginica
67|5.8|0.41666666700000005|2.7|0.291666667|5.1|0.6949152540000001|1.9|0.75|virginica
68|7.1|0.7777777779999999|3.0|0.41666666700000005|5.9|0.830508475|2.1|0.833333333|virginica
69|6.3|0.5555555560000001|2.9|0.375|5.6|0.779661017|1.8|0.708333333|virginica
70|6.5|0.611111111|3.0|0.41666666700000005|5.8|0.813559322|2.2|0.875|virginica
71|7.6|0.916666667|3.0|0.41666666700000005|6.6|0.949152542|2.1|0.833333333|virginica
72|4.9|0.166666667|2.5|0.208333333|4.5|0.5932203389999999|1.7|0.666666667|virginica
73|7.3|0.833333333|2.9|0.375|6.3|0.898305085|1.8|0.708333333|virginica
74|6.7|0.666666667|2.5|0.208333333|5.8|0.813559322|1.8|0.708333333|virginica
75|7.2|0.805555556|3.6|0.666666667|6.1|0.86440678|2.5|0.9999|virginica
76|6.5|0.611111111|3.2|0.5|5.1|0.6949152540000001|2.0|0.791666667|virginica
77|6.4|0.583333333|2.7|0.291666667|5.3|0.7288135590000001|1.9|0.75|virginica
78|6.8|0.694444444|3.0|0.41666666700000005|5.5|0.762711864|2.1|0.833333333|virginica
79|5.7|0.38888888899999996|2.5|0.208333333|5.0|0.6779661020000001|2.0|0.791666667|virginica
80|5.8|0.41666666700000005|2.8|0.333333333|5.1|0.6949152540000001|2.4|0.958333333|virginica
81|6.4|0.583333333|3.2|0.5|5.3|0.7288135590000001|2.3|0.916666667|virginica
82|6.5|0.611111111|3.0|0.41666666700000005|5.5|0.762711864|1.8|0.708333333|virginica
83|7.7|0.944444444|3.8|0.75|6.7|0.966101695|2.2|0.875|virginica
84|7.7|0.944444444|2.6|0.25|6.9|0.9999|2.3|0.916666667|virginica
85|6.0|0.472222222|2.2|0.083333333|5.0|0.6779661020000001|1.5|0.583333333|virginica
86|6.9|0.7222222220000001|3.2|0.5|5.7|0.796610169|2.3|0.916666667|virginica
87|5.6|0.36111111100000004|2.8|0.333333333|4.9|0.661016949|2.0|0.791666667|virginica
88|7.7|0.944444444|2.8|0.333333333|6.7|0.966101695|2.0|0.791666667|virginica
89|6.3|0.5555555560000001|2.7|0.291666667|4.9|0.661016949|1.8|0.708333333|virginica
90|6.7|0.666666667|3.3|0.541666667|5.7|0.796610169|2.1|0.833333333|virginica
91|7.2|0.805555556|3.2|0.5|6.0|0.847457627|1.8|0.708333333|virginica
92|6.2|0.5277777779999999|2.8|0.333333333|4.8|0.644067797|1.8|0.708333333|virginica
93|6.1|0.5|3.0|0.41666666700000005|4.9|0.661016949|1.8|0.708333333|virginica
94|6.4|0.583333333|2.8|0.333333333|5.6|0.779661017|2.1|0.833333333|virginica
95|7.2|0.805555556|3.0|0.41666666700000005|5.8|0.813559322|1.6|0.625|virginica
96|7.4|0.8611111109999999|2.8|0.333333333|6.1|0.86440678|1.9|0.75|virginica
97|7.9|0.9999|3.8|0.75|6.4|0.9152542370000001|2.0|0.791666667|virginica
98|6.4|0.583333333|2.8|0.333333333|5.6|0.779661017|2.2|0.875|virginica
99|6.3|0.5555555560000001|2.8|0.333333333|5.1|0.6949152540000001|1.5|0.583333333|virginica

In [21]:
df.head()

     a         b    c         d    e         f    g         h    tipo
0  5.1  0.222222  3.5  0.625000  1.4  0.067797  0.2  0.041667  setosa
1  4.9  0.166667  3.0  0.416667  1.4  0.067797  0.2  0.041667  setosa
2  4.7  0.111111  3.2  0.500000  1.3  0.050847  0.2  0.041667  setosa
3  4.6  0.083333  3.1  0.458333  1.5  0.084746  0.2  0.041667  setosa
4  5.0  0.194444  3.6  0.666667  1.4  0.067797  0.2  0.041667  setosa

In [22]:
dates = pd.date_range('20180101', periods=10)

In [24]:
import numpy as np

In [25]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list('ABCD'))

In [26]:
df.head()

                   A         B         C         D
2018-01-01 -0.773622 -0.044651  0.020630  0.148647
2018-01-02  0.383348 -0.248802  1.333440  0.936927
2018-01-03 -1.186907 -0.834179  0.301742 -0.653567
2018-01-04  1.499027 -1.406887  2.055729  0.062952
2018-01-05  1.136081  1.425687 -0.063788  0.125342

In [27]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean   -0.243975  -0.065353   0.060617  -0.000904
std     1.130747   0.816301   1.152400   0.568129
min    -1.821590  -1.406887  -1.811410  -0.732891
25%    -1.083586  -0.385276  -0.720324  -0.534367
50%    -0.465169  -0.100029   0.028761   0.094147
75%     0.605017   0.032832   0.638012   0.223710
max     1.499027   1.425687   2.055729   0.936927

In [28]:
df.mean()

A   -0.243975
B   -0.065353
C    0.060617
D   -0.000904
dtype: float64

In [29]:
df.mean(1)

2018-01-01   -0.162249
2018-01-02    0.601228
2018-01-03   -0.593228
2018-01-04    0.552705
2018-01-05    0.655830
2018-01-06   -0.314416
2018-01-07   -0.584924
2018-01-08   -0.656291
2018-01-09    0.253983
2018-01-10   -0.376680
Freq: D, dtype: float64